<h2>Products</h2>

<div *ngFor="let produit of produits">
  <h3>
    <a [title]=" 'Détailles du ' + produit.name">{{produit.name}}</a></h3>
    <p *ngIf="produit.description">Description: {{produit.description}}</p> <!-- Si le produit a une description, l'affiché -->
    <button type="button" (click)="share()">Partager</button>
    <!-- Alerte -> product-alert.component -->
    <app-product-alerts 
    [produit] = "produit"> <!-- produit provient du component product-alert.
                                Afin d'utiliser notre html de product-alert, on indique que produit est le produit de notre NgIf -->
    </app-product-alerts>
</div>



<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->